.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
    height: 100vh;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
}

h1 {
    font-size: 5.625rem;
    line-height: 2;
    padding-top: 60px;
    margin: 150px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: auto;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: 700;
}

p {
    color: #40514E;
    font-weight: 600;
}

.touch {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.touch-desc {
    margin-bottom: 3rem;
}

.my-desc {
    margin-bottom: 7rem;
}

hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;
    border-color: #DADEDF;
    margin-bottom: 7rem;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    height: 7vh;
    position: absolute;
    bottom: 45vh;
    left: 45vh;
}

.top-cloud {
    height: 7vh;
    position: absolute;
    top: 15vh;
    right: 45vh;
}

.profile-picture {
    margin-top: 5.5rem;
    width: 12.5%;
    margin-bottom: 2.5rem;
}

.hola {
    margin-bottom: 2.5rem;
}

.mountain {
    max-width: 100%;
    max-height: 100%;
    height: 30rem;
    width: auto;
    margin: auto;
    position: absolute;
    left: 0; bottom: 0; right: 0;
}

.bottom-container {
    padding: 3.125rem 0 3.125rem 0;
    margin-top: 6rem;
    background-color: #66BFBF;
}

.footer-link{
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-right: 1.875rem;
}

.footer-link:hover{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-right: 1.875rem;
}

.copyright {
    color: #EAF6F6;
    font-weight: normal;
    font-size: 1rem;
}

.skill-row1 {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    margin-bottom: 12.5rem;
}

.skill-row2 {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    margin-bottom: 12.5rem;
}

.skill-row3 {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skills {
    margin-bottom: 12.5rem;
}

.web-dev {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.android-dev {
    float: right;
    width: 25%;
    margin-left: 30px;
}

.ui-des {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 0;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }